body {
  background: #f1f1f1;
  text-align: center;
}

.card {
  width: 200px;
  height: 200px;
  background-image: url('img/the-matrix.png');
  background-size: 100% 100%;
}

#final-message {
  font-size: 100px;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: yellow;
  top: 50%;
  left: 50%;
  display: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  max-width: 800px;
  margin: 0 auto;
}

div {
  text-align: center;
}

/*#match-info{
	animation: xd 3s ease alternate;
}*/

@keyframes xd {
  0% {
    color: black;
    font-size: 100%;
  }

  50% {
    color: blue;
    font-size: 150%;
  }

  100% {
    color: red;
    font-size: 200%;
  }
}

@media(max-width:800px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, 200px);
  }
}

.hidden {
  /*display: none;*/
}