body{
	background: #f1f1f1;
	text-align: center;
}

.tile-container{
	border: 2px black solid;
	display: grid;
	grid-template-columns: repeat(20, 20px);  
	max-width: 400px;
	margin: 0 auto;
}

.tile{
	width: 20px;
	height: 20px;
	background: white;
}

.block{
	border: 1px solid black;
	box-sizing: border-box;
	background: white;
}

.I-block{
	background: blue;
}

.O-block{
	background: yellow;
}


.T-block{
	background: green;
}

.S-block{
	background: orange;
}

.Z-block{
	background: red;
}

.J-block{
	background: purple;
}

.L-block{
	background: magenta;
}

.controls{
	margin: 10px auto;
}

.main-container{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;  
	width: 100%;
}

.game-container p{
	margin: 5px;
}

#back-button{
	position: absolute;
}


#final-message{
	font-size: 100px;
	position: fixed;
	transform: translate(-50%, -50%);
    background-color: yellow;
    top: 50%;
    left: 50%;
	display: none;
}



@keyframes xd{
	0%{color: black; font-size: 100%;}
	50%{color: blue; font-size: 150%;}
	100%{color: red; font-size: 200%;}
}

.hidden{
	/*display: none;*/
}